/* for all */
.mainHeading{
    font-family:'New Gulim';
    text-align: center;
    font-size: 50px;
}
.allrecipes h2{
    margin-left: 60px;
    font-size: 40px;
    font-family: STXihei;
}
.recipeTitle{
    font-size: 25px;
    font-family: 'Segoe UI';
}
@media (max-width: 900px){
    .mainHeading{
        font-size: 40px;
    }
}
@media (max-width: 900px){
    .allrecipes h2{
        font-size: 25px;
    }
}
@media (max-width: 900px){
    .recipeTitle{
        font-size: 15px;
    }
}

/*               Main Nav               */
.logoImg{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left:60px;
 }
 label.logo{
    font-size: 25px;
    font-family: 'Segoe UI';
    /* line-height: 90px;
    margin-top: -30px;
    color: white;  */
 }

nav {
    height: 80px;
    width: 100%;
    background:rgb(236, 151, 151)  ;
    margin-bottom: 0;
    position: fixed;
    /* rgba(173, 122, 107, 0.896)
    rgba(198, 110, 83, 0.896) 
    rgba(198, 98, 83, 0.896)
    rgba(223, 127, 127, 0.896) 
    rgba(4, 97, 26, 0.772) */
}


 nav ul{
    float: right;
    margin-right:40px;
 }
 nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 50px;
    margin-left: 30px;
 }
 nav a{
    color: white;
    font-family: 'Segoe UI' ;
    text-decoration-line: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
 }

a.active, a:hover{
    border:solid white;
    border-radius: 10px;
    transition: 0.1s;
}

nav .Menu{
    height: 30px;
    margin-right: 40px; 
    line-height: 110px;
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

/* nav #menuIcon{
    line-height: 110px;
    float: right;
    margin-right: 40px;
    cursor: poiner;
    display: none;
} */

/* .mainHeading:after{
    content: '';
    position:absolute;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
} */


.homeMainNav{
    background-image: url("homeMain.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: calc(1550px - 1000px); 
}

.recipesMainNav{
    background-image: url("recipesMain.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: calc(1550px - 1000px); 
}
.profileMainNav{
    background-image: url("profileMain.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: calc(1550px - 1000px); 
}
.indivdishMainNav{
    background-image: url("chickensoup.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: calc(1550px - 1000px); 
}

@media (max-width: 1048px){
    .logoImg{
        margin-left:30px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 15px;
    } 
}

@media (max-width: 900px){
    nav .Menu{
        display:block;
        cursor: pointer;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(236, 151, 151);
        margin-top: 0px;
        top : 80px;
        padding-right: 80px;
        padding-left: 15px;
        left: -40px;
        text-align: center;
        transition: all 0.1s;
        display: none;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 15px;
    }
    a.active, a:hover{
        border: none;
        color:black
    }
    nav ul.show{
        display: block;
        left: 0;
    }
}
.homeMNavImg{
    margin-top: 0;
    width: 100%;
    height: 600px;
}





/* recipes page */


.recipeItem{
    margin-left: 40px;
    margin-bottom: 40px;
}
.savebtn{
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    background-color:rgb(236, 151, 151);
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.savebtn:hover{
    color:rgb(236, 151, 151);
    background: white;
    transition: 0.4s;
}

.recipeItem{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    gap: 1.5rem;
}
.recipebox{
    position:static;
    margin-left: 40px;
    /* padding-left: 25%; */
}
.recipebox:hover{
    padding: 3px;
    /* border: 1px solid; */
    transition: 0.1s;
}
.recipeImg{
    width: 200px;
    border-radius: 10px;
}
.recipeCat{
    font-weight: lighter;
}

@media (max-width: 900px){
    .recipeImg{
        width: 150px;
    }
}



/* profile page */

.pfp{
    border-radius: 50%;
    margin-left: 170px;
    width: 300px;
}
.username{
    font-size: 50px;
    font-family: STXihei;
    font-weight: lighter;
    margin-left:50%;
    margin-top: 150px;
}
.profileSave{
    font-family: 'Comic Sans MS';
    font-weight: lighter;
    margin-left: 45%;
    margin-top: 90px;
    font-size: 40px;
}

@media (max-width: 900px){
    .pfp{
        width: 100px;
        margin-left:30px;
    }
    .username{
        font-size: 30px;
        margin-top: 60px;
    }
    .profileSave{
        font-size:25px;
    }
}


/* login */

.wholeLogin{
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    position:relative;
    width: 400px;
    height: 440px;
    /* background:  */
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    /* overflow:hidden; */
    transition: height .2s ease;
}

.wrapper.active{
    height: 520px;
}

.wrapper .loginContainer{
    width: 100%;
    padding:40px;
}
.wrapper .loginContainer{
    /* display:none; */
}

.wrapper.active .loginContainer{
    position:absolute;
    transform: translateX(400px);
}

.wrapper .registerContainer{
    position:absolute;
    transform:translateX(400px);
}
.wrapper .closeIcon{
    position:absolute;
    top:0;
    right:0;
    width: 45px;
    height: 45px;
    background-color: rgb(236, 151, 151);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;;
    cursor: pointer;
    z-index: 1;

}

.loginContainer h2{
    font-size: 40px;
    text-align:center;
}

.registerContainer h2{
    font-size: 40px;
    text-align:center;
}

.inputBox{
    position:relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
}

.inputBox label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: .2s;
}


.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    font-size: 20px;
    margin-left: 100px;
    margin-top: -10px;
    padding: 10px 35px 0 5px;
}

.remember-forgot{
    font-size: 20px;
    margin:-15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
} 

.remember-forgot a:hover{
    text-decoration: underline;
} 

.submitLogin{
    width: 100%;
    height: 45px;
    font-size: 25px;
    background-color: rgb(236, 151, 151);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.login-register{
    font-size:17px;
    text-align: center;
    margin: 25px ;
}

.login-register p a {
    color: black;
    text-decoration: none;
}

.login-register p a:hover{
    text-decoration: underline;
}
.registerNav{
    font-weight: bolder;
}
